.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.odamenubar {
  color: #000;
  background-color: #fff;
}

/* flex any div */

.flexthisdiv {
  display: flex;
}

.open-data {
  font-family: elvetica, Arial, sans-serif, Nunito Sans;
  font-style: normal;
  font-weight: 900;
  font-size: 34.623px;
  line-height: 47px;
  color: #344127;
}

.menu-items {
  font-family: elvetica, Arial, sans-serif, Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  /* identical to box height */

  color: #000;
  flex-grow: 1;
}

.right-margin {
  margin-right: 50px;
}

.become-a-contributor-bg {
  background: #344127;
}

.odaFlexGrow {
  flex-grow: 1;
}

.onboardButton {
  background-color: #344127;
  padding: 5px;
  color: #fff;
}

.noStyleList {
  list-style: none;
}

.noStyleListFooter {
  list-style: none;
  text-align: left;
}

.alignTextLeft {
  text-align: left;
}

.afriDataPrimary {
  color: #344127;
}

.footerPadding {
  padding-top: 4rem;
  padding-bottom: 8rem;
  background-color: #f3f3f3;
  color: #000;
}

.brandAfriData {
  font-weight: 900;
  font-style: normal; 
  font-size: 32.62px;
  line-height: 47.23px; 
  color: #344127;
}

a.noDecorationMenu {
  text-decoration: none !important; 
  color: #000;
  text-decoration-style: none !important;
}

a.noDecorationContributor {
  text-decoration: none !important; 
  color: #fff;
  text-decoration-style: none !important;
}

a.noDecorationFooter {
  text-decoration: none;
  color: #000;
}

.copyright {
  background-color: #344127;
  color: #fff;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.socialIcon {
  padding-left: 1rem;
  padding-right: 1rem;
}

.afriDataButton {
  background-color: #344127;
}

/* landing page video slider button */

.awssld__bullets .awssld__bullets--active {
  transform: scale(1.5);
  background: #dc5500;
  
}

.awssld__bullets button {
  background-color: #fff;
}
