.nav-left {
  background: #344127;
}

.Aside-title:hover {
  color: #f9d48e !important;
  text-decoration: none;
}

.asideNav .nav-link {
  color: #f9d48e;
}

.asideNav .nav-link:hover {
  color: #fff;
}

.btn4 {
  border: 5p solid #fff;
  border-radius: 2px;
  font-size: 20px;
}

body {
  overflow-x: hidden;
}

.OdaSection .card-body {
  background: linear-gradient(
    178.18deg,
    #344127 -13.56%,
    #f9d48e -13.56%,
    #344127 158.3%
  );
}

.btn_ClickHere {
  text-decoration: dotted !important;
}

.active {
  color: #fff;
}
