.nav-left {
    background: #344127;
}

.Aside-title:hover {
    color: #F9D48E !important;
    text-decoration: none;
}
.asideNav .nav-link {
     color: #F9D48E
 }
.asideNav .nav-link:hover {
    color: #fff
}


 .btn4 {
     border: 5p solid #fff;
     border-radius: 2px;
     font-size: 20px;
 }



body {
    overflow-x: hidden;
}



.OdaSection .card-body {
    background: linear-gradient(178.18deg, #344127 -13.56%, #F9D48E -13.56%, #344127 158.3%);
}
.btn_ClickHere {
    text-decoration:dotted !important;
}
.active {
    color: #fff;
}